body {
  margin: 0;
  font-family: sans-serif;
  background: url("assets/bg.jpg") no-repeat center/cover;
}

/* ROOF */
.roof {
  height: 120px;
  background: url("assets/curtain.png") repeat-x center;
  background-size: contain;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR FIXED */
aside {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background: rgba(200, 220, 200, 0.7);
  padding: 20px;
}

/* MAIN lệch sang phải */
main {
  margin-left: 220px;
  padding: 20px;
}
/* ===== CURTAIN ===== */
.curtain-container {
  overflow: hidden;
  margin-bottom: 30px;
}

.curtain-track {
  display: flex;
  gap: 12px;

  overflow: hidden; 
  transition: transform 0.8s cubic-bezier(.22,1,.36,1);
}
/* ITEM */
.curtain-item {
  min-width: 220px;
  height: 90px;

  background: url("assets/curtain.png") center/cover;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;

  transition: all 0.8s cubic-bezier(.22,1,.36,1);
}

/* THU NHỎ */
.curtain-item.collapsed {
  min-width: 70px;
  transform: scaleX(0.6);
  opacity: 0.7;
  filter: brightness(0.9);
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  height: 200px;
  background: rgba(255,255,255,0.6);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.05);
}